
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = "streamlit run main.py --server.address 0.0.0.0 --server.port $PORT"

deploymentTarget = "cloudrun"

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 80
